* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: "Arvo", serif, sans-serif;
  background: whitesmoke;
  color: rgb(0, 0, 96);
  font-weight: 400px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 96);
}

a:hover {
  color: rgb(80, 80, 187);
}

label {
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a, button {
  flex: row;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* maybe all-products */
.column-container {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
}

.product-entry {
  width: 100%;
  flex: row;
  flex-wrap: wrap;
  padding: 20px;
}

.product-img {
  object-fit: fill;
  height: 250px;
  width: 165px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px gray;
}

.product-img:hover {
  transition: 150ms ease;
  transform: scale(1.03);
}

.single-img {
  object-fit: fill;
  height: 379px;
  width: 250px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px gray;
  margin-top: 15px;
}

.cart-icon {
  height: 30px;
  width: 30px;
}

button {
  height: 38px;
  padding: 0 10px;
  text-align: center;
  font-weight: 600;
  letter-spacing: .05rem;
  background:rgb(80, 80, 187);
  color: white;
  border-radius: 4px;
  border: 0px solid gray;
  cursor: pointer;
}

button:hover {
  background: rgb(155, 155, 242);
}

#banner {
  position: relative;
  height: 445px;
    object-fit: contain;
}

#banner:hover {
  cursor: pointer;
}

.row-text-HomeScreen {
  text-align: left;
  margin: 10px;
}

.linebreak-below-banner{
  margin-top: 10px;
}