* {
  box-sizing: border-box; 
   text-align: center;
}


body {
  font-family: "Arvo", serif, sans-serif;
  background: whitesmoke;
  color: rgb(0, 0, 96);
  font-weight: 400px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 96);
}

a:hover {
  color: rgb(80, 80, 187);
}

label {
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a,
button {
  flex: row;
}

li {
  list-style: none;
}

nav a,
nav h4 {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.rowBooks {
  overflow-x: scroll;
  display: flex;
  overflow-y: hidden;
  
}
.rowBooks::-webkit-scrollbar{
  display: none;
}

.row-container{
  
  max-height: 800px;
  margin-left: 20px;
}


.row-img{
  width: fit-content;
  border: 15px;
padding: 15px;
 height: 300px;
 display: flex;
 
}

.row-img-large {
  padding: 10px;
  height: 400px;
  width: auto;
}

.row-img-large:hover {
  transition: 900ms ease-in-out;
  transform: scale(1.15);
  opacity: 0.7;
}

.row-img:hover {
  transition: 250ms ease;
  transform: scale(1.15);
  opacity: 0.7;
}

.column-container {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
}

.product-entry {
  width: 100%;
  flex: row;
  flex-wrap: wrap;
  padding: 20px;
}

.product-img {
  height: 250px;
  width: 165px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px gray;
}

.product-img:hover {
  transition: 150ms ease;
  transform: scale(1.03);
}

.single-img {
  object-fit: fill;
  height: 379px;
  width: 250px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px gray;
  margin-top: 15px;
}

.cart-icon {
  height: 30px;
  width: 30px;
}

button {
  height: 38px;
  padding: 0 10px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  background: rgb(80, 80, 187);
  color: white;
  border-radius: 4px;
  border: 0px solid gray;
  cursor: pointer;
}

button:hover {
  background: rgb(155, 155, 242);
}

#banner {
  position: relative;
  height: 445px;
  object-fit: contain;
}

#banner:hover {
  cursor: pointer;
}

.row-text-HomeScreen {
  text-align: left;
  margin: 10px;
}

.linebreak-below-banner {
  margin-top: 10px;
}

.auth-form {
  text-align: center;
  margin: 30px;
  max-width: 400px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(166, 172, 233);
  border-radius: 5px;
}

span {
  font-weight: bold;
  font-size: 1.2rem;
  margin: none;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  height: 25px;
  border-radius: 5px;
  border: none;
}

.product-description {
  padding: 1rem;
}

.not-found-img {
  height: 400px;
  padding: 20px;
}

.cart-div {
  flex-direction: row;
  margin-left: auto;
  padding: 20px;
}

.cart-img {
  max-height: 250px;
  text-align: left;
}

.cart-title {
  text-align: right;
  font-size: 1.3rem;
}

.cart-author {
  font-size: 0.7rem;

  text-align: right;
}

.cart-price {
  font-size: 1rem;
  text-align: right;
}

.cart-quantity {
  font-size: 0.8 rem;
  text-align: right;
}

.admin-btn {
  margin: 10px;
}

.admin-img {
  padding: 20px;
}
