* {
  box-sizing: border-box; 
   text-align: center;
}

body {
  font-family: "Arvo", serif, sans-serif;
  background: whitesmoke;
  color: rgb(0, 0, 96);
  font-weight: 400px;
  margin: 0px;
}

/* h1, h2, h3, h4, h5, h6, p {
  margin: 10px;
} */

a {
  text-decoration: none;
  color: rgb(0, 0, 96);
}

a:hover {
  color: rgb(80, 80, 187);
}

label {
  display: block;
  margin: 10px 0 10px 0;
  font-weight: bold;
  text-align: left;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar a,
button {
  flex: row;
}

li {
  list-style: none;
}

nav a,
nav h4 {
  display: inline-block;
  margin: 1em;
}

form {
  padding: 30 100 30 100;
  margin: 30px 200px 30px 200px;
}

form div {
  margin: 1em;
  display: inline-block;
}

input,
select,
textarea {
  width: 100%;
  height: 35px;
  border: 1px solid rgb(204, 204, 255);
  border-radius: 7px;
  text-align: left;
  padding: 10px;
  font-family: "Arvo";
}

::placeholder {
  color: rgb(192, 192, 232);
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid rgb(129, 133, 255);
  outline: 0;
}

.rowBooks {
  overflow-x: scroll;
  display: flex;
  overflow-y: hidden;
}
.rowBooks::-webkit-scrollbar{
  display: none;
}

.row-container{
  max-height: 800px;
  margin-left: 20px;
}

.row-img{
  /* width: fit-content; */
  border: 15px;
  margin: 5px;
  /* height: 300px; */
  height: 250px;
  width: 165px;
  display: flex;
  border-radius: 4px;
  box-shadow: 2px 2px 8px gray;
  z-index: 1;
}

.row-img-large {
  padding: 10px;
  height: 400px;
  width: auto;
}

.row-img-large:hover {
  transition: 900ms ease-in-out;
  transform: scale(1.15);
  opacity: 0.8;
  cursor: pointer;
}

.row-img:hover {
  transition: 150ms ease;
  transform: scale(1.05);
  opacity: 0.8;
  cursor: pointer;
}

.flex-container {
  display: flex;
  /* transform: translateX(26em); */
}

.flex-item {
  flex: flex-end;
}

.column-container {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
}

.column-container > h3 {
  width: 100%;
}

.all-products-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.product-entry {
  width: 20%;  
  flex: row;
  flex-wrap: wrap;
  padding: 10px;
}

.product-img {
  height: 250px;
  width: 165px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px gray;
}

.product-img:hover {
  transition: 150ms ease;
  transform: scale(1.05);
  opacity: 0.8;
}

.single-img {
  object-fit: fill;
  height: 379px;
  width: 250px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px gray;
  margin-top: 15px;
}

.cart-icon {
  height: 30px;
  width: 30px;
}

button {
  height: 38px;
  padding: 0 10px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  background: rgb(80, 80, 187);
  color: white;
  border-radius: 4px;
  border: 0px solid gray;
  cursor: pointer;
}

button:hover {
  background: rgb(155, 155, 242);
}

#banner {
  position: relative;
  height: 445px;
  object-fit: contain;
  transform: scale(1.05);
  margin-bottom: 20px;
}

#banner:hover {
  cursor: pointer;
}

.row-text-HomeScreen {
  text-align: left;
  margin: 10px;
}

.linebreak-below-banner {
  margin-top: 30px;
}

.auth-form {
  text-align: center;
  margin: 30px;
  max-width: 400px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(166, 172, 233);
  border-radius: 5px;
}

span {
  font-weight: bold;
  font-size: 1.2rem;
  margin: none;
}

.product-description {
  margin: 30px 20% 10px 20%;
  text-align: justify;
}

.not-found-img {
  height: 400px;
  padding: 20px;
}

.cart-div {
  flex-direction: row;
  margin: 1px;
  /* margin-left: auto; */
  padding: 10px;
}

.cart-img {
  max-height: 250px;
  text-align: left;
}

.cart-title {
  font-size: 1.3rem;
}

.cart-author {
  font-size: 0.9rem;
}

.cart-price {
  font-size: 1rem;
}

.cart-quantity {
  font-size: 0.8 rem;
}

.admin-btn {
  margin: 10px;
}

.admin-img {
  padding: 20px;
  height: 250px;
}

#toast {
  visibility: hidden;
  background: whitesmoke;
  min-width: 230px;
  padding: 15px;
  color:rgb(80, 80, 187);
  border: 1px solid rgb(182, 182, 255);;
  border-radius: 2px;
  z-index: 1;
  position: fixed;
  left: 83%;
  font-family: monospace;
  font-size: small;
  font-weight: 100;
  line-height: 12px;
  box-shadow: 2px 2px 2px rgb(204, 204, 204);;
}

#toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.loading-page-h1 {
  color: rgb(0, 0, 96);
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
}

.loading-page-h1:after {
  position: absolute;
  content: "";
  -webkit-animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
  animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
}

.loader {
  margin: 15% auto 30px;
}

.book {
  border: 4px solid rgb(0, 0, 96);
  width: 60px;
  height: 45px;
  position: relative;
  perspective: 150px;
  background: rgb(0, 0, 96, 0.3);
}

.page {
  display: block;
  width: 30px;
  height: 45px;
  border: 4px solid rgb(0, 0, 96);
  border-left: 1px solid rgb(0, 0, 96);
  margin: 0;
  position: absolute;
  right: -4px;
  top: -4px;
  overflow: hidden;
  background: rgb(0, 0, 96, 0.2);
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.book .page:nth-child(1) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
}

.book .page:nth-child(2) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
}

.book .page:nth-child(3) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
}


/* Page turn */
@-webkit-keyframes pageTurn {
  0% {
    -webkit-transform: rotateY( 0deg);
    transform: rotateY( 0deg);
    background: rgb(0, 0, 96, 0.2);
  }
  20% {
    background: rgb(0, 0, 96, 0.2);
  }
  40% {
    background: rgb(0, 0, 96, 0.2);
    -webkit-transform: rotateY( -180deg);
    transform: rotateY( -180deg);
  }
  100% {
    background: rgb(0, 0, 96, 0.2);
    -webkit-transform: rotateY( -180deg);
    transform: rotateY( -180deg);
  }
}

@keyframes pageTurn {
  0% {
    transform: rotateY( 0deg);
    background: rgb(0, 0, 96, 0.2);
  }
  20% {
    background: rgb(0, 0, 96, 0.2);
  }
  40% {
    background: rgb(0, 0, 96, 0.2);
    transform: rotateY( -180deg);
  }
  100% {
    background: rgb(0, 0, 96, 0.2);
    transform: rotateY( -180deg);
  }
}


/* Dots */
@-webkit-keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.success-btn {
   margin: 15px;
}

.footer {
  margin-bottom: 30px;
}

table {
  width: 100%;
}

thead tr {
  background:rgb(80, 80, 187);
  color: #ffffff;
  text-align: left;
}

th, td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #e5e8ef;
}

tbody tr:last-of-type {
  border-bottom: 2px solid rgb(80, 80, 187);
}

.pfp {
  margin-top: 35px;
  filter: hue-rotate(10deg);
  opacity: 0.8;
}